.bg-banpais {
    background-color: #192A56;
    /* background-color: #FFEF11; */
    /* background-color: #004080; */
    /* #004080 */
    /* #FFEF11 */
    /* #192A56 */
}

.txtTitle {
    color: #DEDEDE;
    /* color: white; */
    /* color: #004080 */
}

#hrTitulo {
    width: 94%;
}

.iconoMenu2 {
    color: #1ABC9C;
    /* color: #004080; */
    /* color: white; */
    font-size: 20px;
    margin: 2px;
}

.menuItem {
    /* color: black */
    /* color: white */
    color: #DEDEDE;
}